In [55]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [3]:
data = pd.read_csv("Crime_Data_from_2020_to_Present.csv")

In [4]:
data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982638 entries, 0 to 982637
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           982638 non-null  int64
 1   Date Rptd       982638 non-null  object
 2   DATE OCC        982638 non-null  object
 3   TIME OCC        982638 non-null  int64
 4   AREA            982638 non-null  int64
 5   AREA NAME       982638 non-null  object
 6   Rpt Dist No     982638 non-null  int64
 7   Part 1-2        982638 non-null  int64
 8   Crm Cd          982638 non-null  int64
 9   Crm Cd Desc     982638 non-null  object
 10  Mocodes         837376 non-null  object
 11  Vict Age        982638 non-null  int64
 12  Vict Sex        844193 non-null  object
 13  Vict Descent    844182 non-null  object
 14  Premis Cd       982624 non-null  float64
 15  Premis Desc     982053 non-null  object
 16  Weapon Used Cd  326167 non-null  float64
 17  Weapon Desc     326167 non-null  object
 18  Status          982637 non-null  object
 19  Status Desc     982638 non-null  object
 20  Crm Cd 1        982627 non-null  float64
 21  Crm Cd 2        68875 non-null   float64
 22  Crm Cd 3        2311 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        982638 non-null  object
 25  Cross Street    151849 non-null  object
 26  LAT             982638 non-null  float64
 27  LON             982638 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 209.9+ MB

In [6]:
data.isnull().sum()

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes           145262
Vict Age               0
Vict Sex          138445
Vict Descent      138456
Premis Cd             14
Premis Desc          585
Weapon Used Cd    656471
Weapon Desc       656471
Status                 1
Status Desc            0
Crm Cd 1              11
Crm Cd 2          913763
Crm Cd 3          980327
Crm Cd 4          982574
LOCATION               0
Cross Street      830789
LAT                    0
LON                    0
dtype: int64

In [7]:
# Select numeric columns including 'Crm Cd'
numeric_columns = data.select_dtypes(include=['number'])

# Display the columns
print(numeric_columns.columns)

Index(['DR_NO', 'TIME OCC', 'AREA', 'Rpt Dist No', 'Part 1-2', 'Crm Cd',
       'Vict Age', 'Premis Cd', 'Weapon Used Cd', 'Crm Cd 1', 'Crm Cd 2',
       'Crm Cd 3', 'Crm Cd 4', 'LAT', 'LON'],
      dtype='object')

In [8]:
data.columns=[i.lower() for i in data.columns]

In [9]:
data

,dr_no,date rptd,date occ,time occ,area,area name,rpt dist no,part 1-2,crm cd,crm cd desc,...,status,status desc,crm cd 1,crm cd 2,crm cd 3,crm cd 4,location,cross street,lat,lon
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982633,242011172,08/20/2024 12:00:00 AM,08/17/2024 12:00:00 AM,2300,20,Olympic,2033,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,NaN,NaN,NaN,3700 WILSHIRE BL,NaN,34.0617,-118.3066
982634,240710284,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,7,Wilshire,788,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,4000 W 23RD ST,NaN,34.0362,-118.3284
982635,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
982636,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
982637,240910892,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,9,Van Nuys,914,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,6900 VESPER AV,NaN,34.1961,-118.4510

In [10]:
data.isnull().sum()

dr_no                  0
date rptd              0
date occ               0
time occ               0
area                   0
area name              0
rpt dist no            0
part 1-2               0
crm cd                 0
crm cd desc            0
mocodes           145262
vict age               0
vict sex          138445
vict descent      138456
premis cd             14
premis desc          585
weapon used cd    656471
weapon desc       656471
status                 1
status desc            0
crm cd 1              11
crm cd 2          913763
crm cd 3          980327
crm cd 4          982574
location               0
cross street      830789
lat                    0
lon                    0
dtype: int64

In [11]:
data.drop(columns=['crm cd 2','crm cd 3','crm cd 4'],inplace=True)

In [12]:
data

,dr_no,date rptd,date occ,time occ,area,area name,rpt dist no,part 1-2,crm cd,crm cd desc,...,premis desc,weapon used cd,weapon desc,status,status desc,crm cd 1,location,cross street,lat,lon
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,STREET,NaN,NaN,AA,Adult Arrest,510.0,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN,IC,Invest Cont,330.0,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,480.0,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,CLOTHING STORE,NaN,NaN,IC,Invest Cont,343.0,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,SIDEWALK,NaN,NaN,IC,Invest Cont,354.0,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982633,242011172,08/20/2024 12:00:00 AM,08/17/2024 12:00:00 AM,2300,20,Olympic,2033,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,BAR/COCKTAIL/NIGHTCLUB,NaN,NaN,IC,Invest Cont,341.0,3700 WILSHIRE BL,NaN,34.0617,-118.3066
982634,240710284,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,7,Wilshire,788,1,510,VEHICLE - STOLEN,...,STREET,NaN,NaN,IC,Invest Cont,510.0,4000 W 23RD ST,NaN,34.0362,-118.3284
982635,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,HOTEL,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,745.0,1300 W SUNSET BL,NaN,34.0685,-118.2460
982636,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,SIDEWALK,308.0,STICK,IC,Invest Cont,230.0,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
982637,240910892,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,9,Van Nuys,914,1,510,VEHICLE - STOLEN,...,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,6900 VESPER AV,NaN,34.1961,-118.4510

In [13]:
mean=data['crm cd 1'].mean()

In [14]:
data['crm cd 1'].fillna(mean,inplace=True)

In [15]:
data.isnull().sum()

dr_no                  0
date rptd              0
date occ               0
time occ               0
area                   0
area name              0
rpt dist no            0
part 1-2               0
crm cd                 0
crm cd desc            0
mocodes           145262
vict age               0
vict sex          138445
vict descent      138456
premis cd             14
premis desc          585
weapon used cd    656471
weapon desc       656471
status                 1
status desc            0
crm cd 1               0
location               0
cross street      830789
lat                    0
lon                    0
dtype: int64

In [16]:
data.drop(columns=['cross street','mocodes'],inplace=True)

###preprocessing

encoding=one hot encoding,label encoding,ordinal encoding,get dummies,frequency encoding,binary encoding, manual encoding

In [17]:
mode=data['status'].mode()

In [18]:
data['new status']=data['status'].fillna('IC')

In [19]:
data.isnull().sum()

dr_no                  0
date rptd              0
date occ               0
time occ               0
area                   0
area name              0
rpt dist no            0
part 1-2               0
crm cd                 0
crm cd desc            0
vict age               0
vict sex          138445
vict descent      138456
premis cd             14
premis desc          585
weapon used cd    656471
weapon desc       656471
status                 1
status desc            0
crm cd 1               0
location               0
lat                    0
lon                    0
new status             0
dtype: int64

In [20]:
data.drop(columns='status',inplace=True)

In [21]:
data.isnull().sum()

dr_no                  0
date rptd              0
date occ               0
time occ               0
area                   0
area name              0
rpt dist no            0
part 1-2               0
crm cd                 0
crm cd desc            0
vict age               0
vict sex          138445
vict descent      138456
premis cd             14
premis desc          585
weapon used cd    656471
weapon desc       656471
status desc            0
crm cd 1               0
location               0
lat                    0
lon                    0
new status             0
dtype: int64

In [22]:
data['premis desc'].mode()

0    STREET
Name: premis desc, dtype: object

In [23]:
data['premis desc'].fillna('STREET',inplace=True)

In [24]:
data.isnull().sum()

dr_no                  0
date rptd              0
date occ               0
time occ               0
area                   0
area name              0
rpt dist no            0
part 1-2               0
crm cd                 0
crm cd desc            0
vict age               0
vict sex          138445
vict descent      138456
premis cd             14
premis desc            0
weapon used cd    656471
weapon desc       656471
status desc            0
crm cd 1               0
location               0
lat                    0
lon                    0
new status             0
dtype: int64

In [25]:
data['premis cd'].mean()

306.1330081496076

In [26]:
data['premis cd'].fillna(306.1330081496076, inplace=True)

In [27]:
data.isnull().sum()

dr_no                  0
date rptd              0
date occ               0
time occ               0
area                   0
area name              0
rpt dist no            0
part 1-2               0
crm cd                 0
crm cd desc            0
vict age               0
vict sex          138445
vict descent      138456
premis cd              0
premis desc            0
weapon used cd    656471
weapon desc       656471
status desc            0
crm cd 1               0
location               0
lat                    0
lon                    0
new status             0
dtype: int64

In [28]:
data['vict sex'].mode()

0    M
Name: vict sex, dtype: object

In [29]:
data['vict sex'].fillna('M', inplace=True)

In [30]:
data['vict descent'].mode()

0    H
Name: vict descent, dtype: object

In [31]:
data['vict descent'].fillna('H',inplace=True)

In [32]:
data.isnull().sum()

dr_no                  0
date rptd              0
date occ               0
time occ               0
area                   0
area name              0
rpt dist no            0
part 1-2               0
crm cd                 0
crm cd desc            0
vict age               0
vict sex               0
vict descent           0
premis cd              0
premis desc            0
weapon used cd    656471
weapon desc       656471
status desc            0
crm cd 1               0
location               0
lat                    0
lon                    0
new status             0
dtype: int64

In [33]:
data['weapon used cd'].mean()

363.8408821248011

In [34]:
data['weapon used cd'].fillna(363.8408821248011, inplace=True)

In [35]:
data['weapon desc'].mode()

0    STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)
Name: weapon desc, dtype: object

In [36]:
data.drop(columns=['weapon desc'], inplace=True)

In [37]:
data.isnull().sum()

dr_no             0
date rptd         0
date occ          0
time occ          0
area              0
area name         0
rpt dist no       0
part 1-2          0
crm cd            0
crm cd desc       0
vict age          0
vict sex          0
vict descent      0
premis cd         0
premis desc       0
weapon used cd    0
status desc       0
crm cd 1          0
location          0
lat               0
lon               0
new status        0
dtype: int64

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982638 entries, 0 to 982637
Data columns (total 22 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   dr_no           982638 non-null  int64
 1   date rptd       982638 non-null  object
 2   date occ        982638 non-null  object
 3   time occ        982638 non-null  int64
 4   area            982638 non-null  int64
 5   area name       982638 non-null  object
 6   rpt dist no     982638 non-null  int64
 7   part 1-2        982638 non-null  int64
 8   crm cd          982638 non-null  int64
 9   crm cd desc     982638 non-null  object
 10  vict age        982638 non-null  int64
 11  vict sex        982638 non-null  object
 12  vict descent    982638 non-null  object
 13  premis cd       982638 non-null  float64
 14  premis desc     982638 non-null  object
 15  weapon used cd  982638 non-null  float64
 16  status desc     982638 non-null  object
 17  crm cd 1        982638 non-null  float64
 18  location        982638 non-null  object
 19  lat             982638 non-null  float64
 20  lon             982638 non-null  float64
 21  new status      982638 non-null  object
dtypes: float64(5), int64(7), object(10)
memory usage: 164.9+ MB

In [39]:
l_e = LabelEncoder()

In [40]:
data = data.apply(lambda col: l_e.fit_transform(col) if col.dtype == 'object' else col)

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982638 entries, 0 to 982637
Data columns (total 22 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   dr_no           982638 non-null  int64
 1   date rptd       982638 non-null  int32
 2   date occ        982638 non-null  int32
 3   time occ        982638 non-null  int64
 4   area            982638 non-null  int64
 5   area name       982638 non-null  int32
 6   rpt dist no     982638 non-null  int64
 7   part 1-2        982638 non-null  int64
 8   crm cd          982638 non-null  int64
 9   crm cd desc     982638 non-null  int32
 10  vict age        982638 non-null  int64
 11  vict sex        982638 non-null  int32
 12  vict descent    982638 non-null  int32
 13  premis cd       982638 non-null  float64
 14  premis desc     982638 non-null  int32
 15  weapon used cd  982638 non-null  float64
 16  status desc     982638 non-null  int32
 17  crm cd 1        982638 non-null  float64
 18  location        982638 non-null  int32
 19  lat             982638 non-null  float64
 20  lon             982638 non-null  float64
 21  new status      982638 non-null  int32
dtypes: float64(5), int32(10), int64(7)
memory usage: 127.4 MB

In [42]:
data.corr()

,dr_no,date rptd,date occ,time occ,area,area name,rpt dist no,part 1-2,crm cd,crm cd desc,...,vict descent,premis cd,premis desc,weapon used cd,status desc,crm cd 1,location,lat,lon,new status
dr_no,1.000000,-0.128227,-0.103958,-0.004952,0.036684,0.004827,0.036909,-0.027919,-0.018565,0.065972,...,0.025874,0.030144,-0.017618,0.009143,0.071537,-0.018415,-0.021920,0.046091,-0.044864,0.075773
date rptd,-0.128227,1.000000,0.919070,-0.000820,-0.006675,-0.001432,-0.006626,-0.007487,-0.002682,0.000306,...,-0.004197,-0.010004,0.005568,-0.004785,0.007428,-0.002673,-0.000517,-0.005146,0.004950,0.007402
date occ,-0.103958,0.919070,1.000000,0.002765,-0.007312,-0.001713,-0.007265,-0.012738,-0.003613,-0.001153,...,-0.002740,-0.012166,0.005237,-0.005711,0.007592,-0.003601,0.000260,-0.004791,0.004661,0.007681
time occ,-0.004952,-0.000820,0.002765,1.000000,0.001061,0.010618,0.001184,-0.056143,0.011562,-0.006708,...,-0.005251,-0.063292,0.014790,-0.003543,0.004738,0.011567,0.015020,0.002953,-0.002690,0.003908
area,0.036684,-0.006675,-0.007312,0.001061,1.000000,0.050323,0.999050,0.007005,-0.006050,0.018309,...,-0.006813,-0.005533,0.014928,-0.010050,-0.022264,-0.006260,-0.012789,0.024550,-0.009987,-0.025296
area name,0.004827,-0.001432,-0.001713,0.010618,0.050323,1.000000,0.046699,-0.010764,-0.008111,0.018723,...,0.103558,0.027458,-0.020612,0.025546,0.003617,-0.008107,-0.051569,0.013410,-0.014224,0.005698
rpt dist no,0.036909,-0.006626,-0.007265,0.001184,0.999050,0.046699,1.000000,0.006837,-0.006177,0.018401,...,-0.007377,-0.005733,0.014507,-0.009709,-0.021858,-0.006387,-0.011601,0.024302,-0.009924,-0.024905
part 1-2,-0.027919,-0.007487,-0.012738,-0.056143,0.007005,-0.010764,0.006837,1.000000,0.699915,-0.010286,...,-0.019909,0.277942,0.047903,0.249809,-0.136297,0.700388,-0.032295,-0.028248,0.028722,-0.160166
crm cd,-0.018565,-0.002682,-0.003613,0.011562,-0.006050,-0.008111,-0.006177,0.699915,1.000000,0.141190,...,-0.007298,0.117520,0.067777,0.245549,-0.104048,0.999314,-0.023801,-0.039055,0.039158,-0.124819
crm cd desc,0.065972,0.000306,-0.001153,-0.006708,0.018309,0.018723,0.018401,-0.010286,0.141190,1.000000,...,0.023163,-0.067527,0.023161,0.025657,0.138971,0.142138,-0.036924,0.000815,-0.000316,0.152510
vict age,-0.058325,-0.006253,-0.007344,-0.034922,0.022130,0.037746,0.022166,0.203535,-0.019592,-0.252880,...,-0.093694,0.185754,0.044009,0.038574,-0.048882,-0.019568,-0.014388,-0.000487,0.001812,-0.059182
vict sex,0.038022,0.002950,0.005291,0.021106,-0.037869,-0.004131,-0.037855,-0.216336,-0.070339,0.100307,...,0.273134,-0.150657,-0.081989,-0.099745,0.083946,-0.069870,0.021256,0.001498,-0.001356,0.100068
vict descent,0.025874,-0.004197,-0.002740,-0.005251,-0.006813,0.103558,-0.007377,-0.019909,-0.007298,0.023163,...,1.000000,0.085167,-0.163285,0.030689,0.030202,-0.007018,-0.035994,0.003571,0.001071,0.040309
premis cd,0.030144,-0.010004,-0.012166,-0.063292,-0.005533,0.027458,-0.005733,0.277942,0.117520,-0.067527,...,0.085167,1.000000,-0.352005,0.117533,-0.087197,0.117475,-0.141507,-0.005749,0.007119,-0.099384
premis desc,-0.017618,0.005568,0.005237,0.014790,0.014928,-0.020612,0.014507,0.047903,0.067777,0.023161,...,-0.163285,-0.352005,1.000000,-0.024581,-0.013574,0.067677,0.061547,-0.000964,-0.000913,-0.016114
weapon used cd,0.009143,-0.004785,-0.005711,-0.003543,-0.010050,0.025546,-0.009709,0.249809,0.245549,0.025657,...,0.030689,0.117533,-0.024581,1.000000,-0.005876,0.245900,-0.049267,-0.005548,0.006973,-0.016762
status desc,0.071537,0.007428,0.007592,0.004738,-0.022264,0.003617,-0.021858,-0.136297,-0.104048,0.138971,...,0.030202,-0.087197,-0.013574,-0.005876,1.000000,-0.103383,-0.001112,-0.023022,0.021245,0.987982
crm cd 1,-0.018415,-0.002673,-0.003601,0.011567,-0.006260,-0.008107,-0.006387,0.700388,0.999314,0.142138,...,-0.007018,0.117475,0.067677,0.245900,-0.103383,1.000000,-0.023991,-0.039115,0.039212,-0.124129
location,-0.021920,-0.000517,0.000260,0.015020,-0.012789,-0.051569,-0.011601,-0.032295,-0.023801,-0.036924,...,-0.035994,-0.141507,0.061547,-0.049267,-0.001112,-0.023991,1.000000,-0.005999,0.005603,0.001314
lat,0.046091,-0.005146,-0.004791,0.002953,0.024550,0.013410,0.024302,-0.028248,-0.039055,0.000815,...,0.003571,-0.005749,-0.000964,-0.005548,-0.023022,-0.039115,-0.005999,1.000000,-0.998246,-0.024600
lon,-0.044864,0.004950,0.004661,-0.002690,-0.009987,-0.014224,-0.009924,0.028722,0.039158,-0.000316,...,0.001071,0.007119,-0.000913,0.006973,0.021245,0.039212,0.005603,-0.998246,1.000000,0.022667
new status,0.075773,0.007402,0.007681,0.003908,-0.025296,0.005698,-0.024905,-0.160166,-0.124819,0.152510,...,0.040309,-0.099384,-0.016114,-0.016762,0.987982,-0.124129,0.001314,-0.024600,0.022667,1.000000

In [43]:
corr=data.corr()['crm cd'].sort_values(ascending=False)

In [44]:
corr

crm cd            1.000000
crm cd 1          0.999314
part 1-2          0.699915
weapon used cd    0.245549
crm cd desc       0.141190
premis cd         0.117520
premis desc       0.067777
lon               0.039158
time occ          0.011562
date rptd        -0.002682
date occ         -0.003613
area             -0.006050
rpt dist no      -0.006177
vict descent     -0.007298
area name        -0.008111
dr_no            -0.018565
vict age         -0.019592
location         -0.023801
lat              -0.039055
vict sex         -0.070339
status desc      -0.104048
new status       -0.124819
Name: crm cd, dtype: float64

In [45]:
y=data['crm cd']

In [46]:
x=data.drop('crm cd',axis=1)

In [47]:
y

0         510
1         330
2         480
3         343
4         354
         ...
982633    341
982634    510
982635    745
982636    230
982637    510
Name: crm cd, Length: 982638, dtype: int64

In [48]:
x

,dr_no,date rptd,date occ,time occ,area,area name,rpt dist no,part 1-2,crm cd desc,vict age,...,vict descent,premis cd,premis desc,weapon used cd,status desc,crm cd 1,location,lat,lon,new status
0,190326475,297,297,2130,7,20,784,1,134,0,...,12,101.0,266,363.840882,0,510.0,21599,34.0375,-118.3506,0
1,200106753,195,190,1800,1,1,182,1,21,47,...,12,128.0,29,363.840882,2,330.0,1856,34.0444,-118.2628,3
2,200320258,1531,1503,1700,3,15,356,1,11,19,...,18,502.0,207,363.840882,2,480.0,13315,34.0210,-118.3002,3
3,200907217,650,342,2037,9,17,964,1,106,19,...,12,405.0,40,363.840882,2,343.0,13512,34.1576,-118.4387,3
4,220614831,1149,1142,1200,6,6,666,2,116,28,...,7,102.0,254,363.840882,2,354.0,21439,34.0944,-118.3277,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982633,242011172,1161,1146,2300,20,11,2033,1,123,36,...,3,207.0,19,363.840882,2,341.0,34522,34.0617,-118.3066,3
982634,240710284,1026,1021,1400,7,20,788,1,134,0,...,7,101.0,266,363.840882,2,510.0,36439,34.0362,-118.3284,3
982635,240104953,74,74,100,1,1,101,2,132,0,...,18,503.0,97,500.000000,2,745.0,11113,34.0685,-118.2460,3
982636,240309674,571,571,1500,3,15,358,1,2,70,...,17,102.0,254,308.000000,2,230.0,60417,34.0215,-118.2868,3
982637,240910892,1126,1121,2300,9,17,914,1,134,0,...,7,108.0,227,363.840882,2,510.0,47564,34.1961,-118.4510,3

In [53]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [56]:
model=SVC()