In [71]:
import pandas as pd
import numpy as py
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from datetime import datetime
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

In [72]:
!pip install xgboost

Unable to create process using 'C:\Users\siddaraja naik\anaconda3\python.exe "C:\Users\siddaraja naik\anaconda3\Scripts\pip-script.py" install xgboost'

In [2]:
data = pd.read_csv(r"C:\Users\siddaraja naik\Downloads\Zomato Dataset.csv")

In [3]:
data.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [4]:
data.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
dtype: int64

In [5]:
data['Delivery_person_Age'].mean()

29.566910587697233

In [6]:
data['Delivery_person_Age'].fillna(29.566910587697233, inplace=True)

In [7]:
data['Delivery_person_Age'].isnull().sum()

0

In [8]:
data['Delivery_person_Ratings'].mean()

4.6337736972250205

In [9]:
data['Delivery_person_Ratings'].fillna(4.6337736972250205, inplace=True)

In [10]:
data['Delivery_person_Ratings'].isnull().sum()

0

In [11]:
data['Time_Orderd'] = pd.to_datetime(data['Time_Orderd'], format='%H:%M', errors='coerce')

In [12]:
# Function to convert time to minutes since midnight
def time_to_minutes(t):
    if pd.isnull(t):  # Handle missing values
        return None
    return t.hour * 60 + t.minute

In [13]:
# Apply the function to create a new column for minutes
data['Time_in_minutes'] = data['Time_Orderd'].apply(time_to_minutes)

In [14]:
data['Time_in_minutes'].median()

1160.0

In [15]:
data['Time_in_minutes'].fillna(116.0 ,  inplace= True)

In [16]:
data.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age               0
Delivery_person_Ratings           0
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    5799
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
Time_in_minutes                   0
dtype: int64

In [17]:
# Convert 'Time_in_minutes' back to time format
data['Time_Orderd'] = pd.to_datetime(data['Time_in_minutes'], unit='m').dt.time

In [18]:
data.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Time_in_minutes
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55:00,...,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,1315.0
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55:00,...,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,895.0
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30:00,...,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,1050.0
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20:00,...,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,560.0
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50:00,...,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,1190.0

In [42]:
data.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age               0
Delivery_person_Ratings           0
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                       0
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
Time_in_minutes                   0
dtype: int64

In [19]:
data.drop(columns=['Time_in_minutes'] , inplace=True)

In [20]:
data.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age               0
Delivery_person_Ratings           0
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                       0
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
dtype: int64

In [21]:
data['Festival'].mode()

0    No
Name: Festival, dtype: object

In [22]:
data['Festival'].fillna('No' ,  inplace= True)

In [23]:
data.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age               0
Delivery_person_Ratings           0
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                       0
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                          0
City                           1200
Time_taken (min)                  0
dtype: int64

In [24]:
data['multiple_deliveries'].mean()

0.7446345675136238

In [25]:
data['multiple_deliveries'].fillna( 0.7446345675136238,  inplace= True)

In [26]:
data['City'].mode()

0    Metropolitian
Name: City, dtype: object

In [27]:
data['City'].fillna('Metropolitian' ,  inplace= True)

In [28]:
data.isnull().sum()

ID                               0
Delivery_person_ID               0
Delivery_person_Age              0
Delivery_person_Ratings          0
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
Order_Date                       0
Time_Orderd                      0
Time_Order_picked                0
Weather_conditions             616
Road_traffic_density           601
Vehicle_condition                0
Type_of_order                    0
Type_of_vehicle                  0
multiple_deliveries              0
Festival                         0
City                             0
Time_taken (min)                 0
dtype: int64

In [29]:
data.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55:00,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55:00,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30:00,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20:00,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50:00,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [30]:
data['Weather_conditions'].mode()

0    Fog
Name: Weather_conditions, dtype: object

In [31]:
data['Weather_conditions'].fillna('Fog' ,  inplace= True)

In [32]:
data['Road_traffic_density'].mode()

0    Low
Name: Road_traffic_density, dtype: object

In [33]:
data['Road_traffic_density'].fillna('Low' ,  inplace= True)

In [35]:
data.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weather_conditions             0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken (min)               0
dtype: int64

In [36]:
data.head(5)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55:00,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55:00,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30:00,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20:00,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50:00,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [37]:
le = LabelEncoder()

In [38]:
cat_col = data.select_dtypes(include=['object']).columns

In [39]:
cat_col

Index(['ID', 'Delivery_person_ID', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weather_conditions', 'Road_traffic_density',
       'Type_of_order', 'Type_of_vehicle', 'Festival', 'City'],
      dtype='object')

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  object
 1   Delivery_person_ID           45584 non-null  object
 2   Delivery_person_Age          45584 non-null  float64
 3   Delivery_person_Ratings      45584 non-null  float64
 4   Restaurant_latitude          45584 non-null  float64
 5   Restaurant_longitude         45584 non-null  float64
 6   Delivery_location_latitude   45584 non-null  float64
 7   Delivery_location_longitude  45584 non-null  float64
 8   Order_Date                   45584 non-null  object
 9   Time_Orderd                  45584 non-null  object
 10  Time_Order_picked            45584 non-null  object
 11  Weather_conditions           45584 non-null  object
 12  Road_traffic_density         45584 non-null  object
 13  Vehicle_condition            45584 non-null  int64
 14  Type_of_order                45584 non-null  object
 15  Type_of_vehicle              45584 non-null  object
 16  multiple_deliveries          45584 non-null  float64
 17  Festival                     45584 non-null  object
 18  City                         45584 non-null  object
 19  Time_taken (min)             45584 non-null  int64
dtypes: float64(7), int64(2), object(11)
memory usage: 7.0+ MB

In [41]:
X.drop(columns = ['ID','Delivery_person_ID',] , inplace=True)

NameError: name 'X' is not defined

In [42]:
X.info()

NameError: name 'X' is not defined

In [128]:
X.drop(columns = ['Order_Date'] , inplace=True)

KeyError: "['Order_Date'] not found in axis"

In [129]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_Age          45584 non-null  float64
 1   Delivery_person_Ratings      45584 non-null  float64
 2   Restaurant_latitude          45584 non-null  float64
 3   Restaurant_longitude         45584 non-null  float64
 4   Delivery_location_latitude   45584 non-null  float64
 5   Delivery_location_longitude  45584 non-null  float64
 6   Time_Orderd                  45584 non-null  object
 7   Time_Order_picked            45584 non-null  object
 8   Weather_conditions           45584 non-null  object
 9   Road_traffic_density         45584 non-null  object
 10  Vehicle_condition            45584 non-null  int64
 11  Type_of_order                45584 non-null  object
 12  Type_of_vehicle              45584 non-null  object
 13  multiple_deliveries          45584 non-null  float64
 14  Festival                     45584 non-null  object
 15  City                         45584 non-null  object
dtypes: float64(7), int64(1), object(8)
memory usage: 5.6+ MB

In [130]:
X['weather']=le.fit_transform(data['Weather_conditions'])

In [132]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_Age          45584 non-null  float64
 1   Delivery_person_Ratings      45584 non-null  float64
 2   Restaurant_latitude          45584 non-null  float64
 3   Restaurant_longitude         45584 non-null  float64
 4   Delivery_location_latitude   45584 non-null  float64
 5   Delivery_location_longitude  45584 non-null  float64
 6   Time_Orderd                  45584 non-null  object
 7   Time_Order_picked            45584 non-null  object
 8   Weather_conditions           45584 non-null  object
 9   Road_traffic_density         45584 non-null  object
 10  Vehicle_condition            45584 non-null  int64
 11  Type_of_order                45584 non-null  object
 12  Type_of_vehicle              45584 non-null  object
 13  multiple_deliveries          45584 non-null  float64
 14  Festival                     45584 non-null  object
 15  City                         45584 non-null  object
 16  weather                      45584 non-null  int64
dtypes: float64(7), int64(2), object(8)
memory usage: 5.9+ MB

In [141]:
categorical_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_Age          45584 non-null  float64
 1   Delivery_person_Ratings      45584 non-null  float64
 2   Restaurant_latitude          45584 non-null  float64
 3   Restaurant_longitude         45584 non-null  float64
 4   Delivery_location_latitude   45584 non-null  float64
 5   Delivery_location_longitude  45584 non-null  float64
 6   Time_Orderd                  45584 non-null  object
 7   Time_Order_picked            45584 non-null  object
 8   Weather_conditions           45584 non-null  object
 9   Road_traffic_density         45584 non-null  object
 10  Vehicle_condition            45584 non-null  int64
 11  Type_of_order                45584 non-null  object
 12  Type_of_vehicle              45584 non-null  object
 13  multiple_deliveries          45584 non-null  float64
 14  Festival                     45584 non-null  object
 15  City                         45584 non-null  object
dtypes: float64(7), int64(1), object(8)
memory usage: 5.6+ MB

In [140]:
categorical_columns = X.copy()

categorical_columns = categorical_columns.drop(columns='weather')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_Age          45584 non-null  float64
 1   Delivery_person_Ratings      45584 non-null  float64
 2   Restaurant_latitude          45584 non-null  float64
 3   Restaurant_longitude         45584 non-null  float64
 4   Delivery_location_latitude   45584 non-null  float64
 5   Delivery_location_longitude  45584 non-null  float64
 6   Time_Orderd                  45584 non-null  object
 7   Time_Order_picked            45584 non-null  object
 8   Weather_conditions           45584 non-null  object
 9   Road_traffic_density         45584 non-null  object
 10  Vehicle_condition            45584 non-null  int64
 11  Type_of_order                45584 non-null  object
 12  Type_of_vehicle              45584 non-null  object
 13  multiple_deliveries          45584 non-null  float64
 14  Festival                     45584 non-null  object
 15  City                         45584 non-null  object
 16  weather                      45584 non-null  int64
dtypes: float64(7), int64(2), object(8)
memory usage: 5.9+ MB

In [142]:
for col in categorical_columns:
    data[col] = le.fit_transform(data[col])

In [143]:
categorical_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Delivery_person_Age          45584 non-null  float64
 1   Delivery_person_Ratings      45584 non-null  float64
 2   Restaurant_latitude          45584 non-null  float64
 3   Restaurant_longitude         45584 non-null  float64
 4   Delivery_location_latitude   45584 non-null  float64
 5   Delivery_location_longitude  45584 non-null  float64
 6   Time_Orderd                  45584 non-null  object
 7   Time_Order_picked            45584 non-null  object
 8   Weather_conditions           45584 non-null  object
 9   Road_traffic_density         45584 non-null  object
 10  Vehicle_condition            45584 non-null  int64
 11  Type_of_order                45584 non-null  object
 12  Type_of_vehicle              45584 non-null  object
 13  multiple_deliveries          45584 non-null  float64
 14  Festival                     45584 non-null  object
 15  City                         45584 non-null  object
dtypes: float64(7), int64(1), object(8)
memory usage: 5.6+ MB

In [145]:
X.drop(columns=['Weather_conditions'])

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,weather
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,21:55:00,22:10,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,1
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,14:55:00,15:05,High,1,Meal,motorcycle,1.0,No,Metropolitian,3
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,17:30:00,17:40,Medium,1,Drinks,scooter,1.0,No,Metropolitian,2
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,09:20:00,09:30,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,2
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,19:50:00,20:05,Jam,1,Snack,scooter,1.0,No,Metropolitian,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,30.0,4.8,26.902328,75.794257,26.912328,75.804257,11:35:00,11:45,High,1,Meal,motorcycle,0.0,No,Metropolitian,5
45580,21.0,4.6,0.000000,0.000000,0.070000,0.070000,19:55:00,20:10,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,5
45581,30.0,4.9,13.022394,80.242439,13.052394,80.272439,23:50:00,24:05:00,Low,1,Drinks,scooter,0.0,No,Metropolitian,0
45582,20.0,4.7,11.001753,76.986241,11.041753,77.026241,13:35:00,13:40,High,0,Snack,motorcycle,1.0,No,Metropolitian,0
45583,23.0,4.9,23.351058,85.325731,23.431058,85.405731,17:10:00,17:15,Medium,2,Snack,scooter,1.0,No,Metropolitian,1

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  int32
 1   Delivery_person_ID           45584 non-null  int32
 2   Delivery_person_Age          45584 non-null  float64
 3   Delivery_person_Ratings      45584 non-null  float64
 4   Restaurant_latitude          45584 non-null  float64
 5   Restaurant_longitude         45584 non-null  float64
 6   Delivery_location_latitude   45584 non-null  float64
 7   Delivery_location_longitude  45584 non-null  float64
 8   Order_Date                   45584 non-null  int32
 9   Time_Orderd                  45584 non-null  int32
 10  Time_Order_picked            45584 non-null  int32
 11  Weather_conditions           45584 non-null  int32
 12  Road_traffic_density         45584 non-null  int32
 13  Vehicle_condition            45584 non-null  int64
 14  Type_of_order                45584 non-null  int32
 15  Type_of_vehicle              45584 non-null  int32
 16  multiple_deliveries          45584 non-null  float64
 17  Festival                     45584 non-null  int32
 18  City                         45584 non-null  int32
 19  Time_taken (min)             45584 non-null  int64
dtypes: float64(7), int32(11), int64(2)
memory usage: 5.0 MB

In [159]:
cat_col.head()

AttributeError: 'Index' object has no attribute 'head'

In [50]:
for col in cat_col:
    data[col] = le.fit_transform(data[col])

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  int32
 1   Delivery_person_ID           45584 non-null  int32
 2   Delivery_person_Age          45584 non-null  float64
 3   Delivery_person_Ratings      45584 non-null  float64
 4   Restaurant_latitude          45584 non-null  float64
 5   Restaurant_longitude         45584 non-null  float64
 6   Delivery_location_latitude   45584 non-null  float64
 7   Delivery_location_longitude  45584 non-null  float64
 8   Order_Date                   45584 non-null  int32
 9   Time_Orderd                  45584 non-null  int32
 10  Time_Order_picked            45584 non-null  int32
 11  Weather_conditions           45584 non-null  int32
 12  Road_traffic_density         45584 non-null  int32
 13  Vehicle_condition            45584 non-null  int64
 14  Type_of_order                45584 non-null  int32
 15  Type_of_vehicle              45584 non-null  int32
 16  multiple_deliveries          45584 non-null  float64
 17  Festival                     45584 non-null  int32
 18  City                         45584 non-null  int32
 19  Time_taken (min)             45584 non-null  int64
dtypes: float64(7), int32(11), int64(2)
memory usage: 5.0 MB

In [58]:
del X

In [61]:
X = data.drop('Time_taken (min)', axis=1)

In [63]:
y = data['Time_taken (min)']

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [62]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  int32
 1   Delivery_person_ID           45584 non-null  int32
 2   Delivery_person_Age          45584 non-null  float64
 3   Delivery_person_Ratings      45584 non-null  float64
 4   Restaurant_latitude          45584 non-null  float64
 5   Restaurant_longitude         45584 non-null  float64
 6   Delivery_location_latitude   45584 non-null  float64
 7   Delivery_location_longitude  45584 non-null  float64
 8   Order_Date                   45584 non-null  int32
 9   Time_Orderd                  45584 non-null  int32
 10  Time_Order_picked            45584 non-null  int32
 11  Weather_conditions           45584 non-null  int32
 12  Road_traffic_density         45584 non-null  int32
 13  Vehicle_condition            45584 non-null  int64
 14  Type_of_order                45584 non-null  int32
 15  Type_of_vehicle              45584 non-null  int32
 16  multiple_deliveries          45584 non-null  float64
 17  Festival                     45584 non-null  int32
 18  City                         45584 non-null  int32
dtypes: float64(7), int32(11), int64(1)
memory usage: 4.7 MB

In [55]:
cat_col

Index(['ID', 'Delivery_person_ID', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weather_conditions', 'Road_traffic_density',
       'Type_of_order', 'Type_of_vehicle', 'Festival', 'City'],
      dtype='object')

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  int32
 1   Delivery_person_ID           45584 non-null  int32
 2   Delivery_person_Age          45584 non-null  float64
 3   Delivery_person_Ratings      45584 non-null  float64
 4   Restaurant_latitude          45584 non-null  float64
 5   Restaurant_longitude         45584 non-null  float64
 6   Delivery_location_latitude   45584 non-null  float64
 7   Delivery_location_longitude  45584 non-null  float64
 8   Order_Date                   45584 non-null  int32
 9   Time_Orderd                  45584 non-null  int32
 10  Time_Order_picked            45584 non-null  int32
 11  Weather_conditions           45584 non-null  int32
 12  Road_traffic_density         45584 non-null  int32
 13  Vehicle_condition            45584 non-null  int64
 14  Type_of_order                45584 non-null  int32
 15  Type_of_vehicle              45584 non-null  int32
 16  multiple_deliveries          45584 non-null  float64
 17  Festival                     45584 non-null  int32
 18  City                         45584 non-null  int32
 19  Time_taken (min)             45584 non-null  int64
dtypes: float64(7), int32(11), int64(2)
memory usage: 5.0 MB

 RandomForestRegressor

In [65]:
model = RandomForestRegressor(random_state=42)

In [66]:
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [67]:
y_pred = model.predict(X_test)

In [68]:
rfr_r2 = r2_score(y_test, y_pred)
print(f"Random Forest Regressor : {rfr_r2 * 100:.2f}%")

Random Forest Regressor : 74.18%

Linear Regression

In [182]:
lr = LinearRegression()

In [183]:
lr.fit(X_train, y_train)

LinearRegression()

In [184]:
y_pred = lr.predict(X_test)

In [186]:
lr_r2 = r2_score(y_test, y_pred)
print(f"Linear Regression: {rfr_r2 * 100:.2f}%")

Linear Regression: 74.21%

XGBoost Regressor